html,
    body {
      background: #eee;
    }

    /* IE10 is not tested though */
    a,
    input,
    button {
      -ms-touch-action: none !important;
    }

    .container {
      margin-top: 20px;
    }

    .content {
      background: #fff;
      padding: 20px;
      margin: 0 -20px;
      border-radius: 10px;
    }

    .page-header {
      background: #f5f5f5;
      padding: 20px 20px 10px;
      margin: -20px -20px 20px;
      border-radius: 10px 10px 0 0;
      border: 0;
    }

    #emulator>div {
      text-align: center;
    }

    #screen {
      height: 192px;
      width: 256px;
      margin: auto;
      border: 1px solid #000;
    }

    #screen canvas {
      background: #000;
      margin: auto;
      display: block;
      image-rendering: -moz-crisp-edges;
      /* FF 6+ */
      image-rendering: -webkit-optimize-contrast;
      /* Webkit */
      image-rendering: pixelated;
      /* Blink */
      -ms-interpolation-mode: nearest-neighbor;
      /* IE 7+ */
    }

    #screen:-webkit-full-screen {
      height: 100%;
      width: 100%;
    }

    .gamepad {
      height: 80px;
      position: relative;
    }

    div .direction>div,
    div .buttons>div {
      width: 40px;
      height: 40px;
      float: left;
      display: inline;
    }

    div .direction {
      background: lightgrey;
      width: 80px;
      height: 80px;
      border-radius: 40px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .up,
    .down {
      background: darkgrey;
    }

    .up {
      border-radius: 40px 0 0 0;
    }

    .down {
      border-radius: 0 0 40px 0;
    }

    div .buttons {
      position: absolute;
      right: 0;
      top: 20px;
    }

    div .buttons .start {
      background: darkblue;
      border-radius: 0 40px 40px 0;
      width: 25px;
    }

    .fire1,
    .fire2 {
      background: black;
      margin-left: 10px;
      border-radius: 40px;
    }

    #romSelector {
      clear: both;
      margin-top: 80px;
    }

    select,
    .btn {
      margin: 5px 5px 0 0;
    }

    footer {
      padding-top: 10px;
    }

    @media (max-width: 768px) {
      .container {
        margin-top: 0;
      }
    }

    @media (orientation: portrait) {
      #screen canvas {
        height: auto;
        width: 100%;
      }
    }

    @media (orientation: landscape) {
      #screen canvas {
        height: 100%;
        width: auto;
      }
    }

    /* Debugger */
    div.row-fluid .span8 {
      position: relative;
    }

    #dissambler {
      font-family: monospace;
      font-size: small;
      color: #aaa;
      right: 0;
      position: absolute;
      top: 0;
    }

    .current {
      color: #333;
    }

    .current code {
      background: pink;
      border-color: #DD1144;
    }

    code {
      padding: 0 2px;
    }